.wiki-username-edition
    .avatar
        img(
            style!="background-color: <%- user.avatar.bg %>"
            src!="<%- user.avatar.url %>"
            alt!="<%- user.name %>"
        )
    .wiki-user-modification
        span.description(translate="WIKI.SUMMARY.LAST_MODIFICATION")
        span.username <%- user.name %>

.wiki-last-modified(
    ng-if="wiki.id"
)
    span.number <%- lastModifiedDate %>
    span.description(translate="WIKI.SUMMARY.LAST_EDIT")

.wiki-times-edited(
    ng-if="wiki.id"
)
    span.number <%- totalEditions %>
    span.description(translate="WIKI.SUMMARY.TIMES_EDITED")

tg-svg.edit(
    tg-check-permission="modify_wiki_page"
    title="{{'WIKI.EDIT' | translate}}"
    ng-click="ctrl.edit()"
    svg-icon="icon-edit"

)

tg-svg.remove(
    tg-check-permission="delete_wiki_page"
    title="{{'WIKI.REMOVE' | translate}}"
    ng-click="ctrl.delete()"
    svg-icon="icon-trash"
    ng-if="wiki.id"

)
